* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN SIDEBAR */
/* LOGO */
.logo-image {
  width: 137px;
  margin: auto;
}


/* START Session 1 */

.main-sidebar {
  float: left;
  width: 374px;
  height: 100%;
  padding: 60px 75px 0px;
  max-width: 400px;
}

.main-sidebar a {
  text-decoration: none;
}

.main-sidebar ul {
  width: 170px;
}

.main-sidebar .main-sidebar-a {
  height: 12.6 px;
  padding: 20px 0;
  font-size: 14px;
  line-height: 0.9;
  color: #131212;
  font-weight: normal;
}

.nav-btn a:hover {
  color: #FBB611;
  box-shadow: #FBB611 0.2px;
}

/* END Session 1 */


/* START Sessison 2 */
.main-sidebar .discount-btn {
  border-radius: 0;
  background-color: #FBB611;
  color: #fff;
  padding: 0;
  margin-bottom: 15px;
}

.main-sidebar .discount-btn a {
  display: block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  width: 160px;
  line-height: 55px;
  padding: 0px 7px;
  color: #fff;
}

.main-sidebar .new-btn {
  border-radius: 0;
  background-color: black;
  color: #fff;
  padding: 0;
}

.main-sidebar .new-btn a {
  display: block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  width: 160px;
  line-height: 56px;
  padding: 0px 7px;
  color: #fff;
  min-width: 160px;
}

.discount-btn a, .new-btn a {
  text-transform: none;
}

.main-sidebar .discount-btn:hover {
  background-color: #131212;
}

.main-sidebar .new-btn:hover {
  background-color: #131212;
}

/* END Sessison 2 */

/* START Sessison 3 */


.option-sidebar {
  width: 170px;
  margin: 0;
  padding-top: 15px;
}


/* CONTENT */

.main-item-image {
  transition: all 0.3s ease-in-out;
}

.main-item-image:hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(112, 112, 118, 0.5);
  z-index: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.main-item-image:hover * {
  color: white !important;
}



/* Products */
li {
  list-style-type: none;
}

.categories-list-item {
  margin: 17px 0px;
  font-weight: 600;
  font-size: 15px;
  color: #959595;
}

.categories-list-item:hover {
  color: #FAB610;
  cursor: pointer;
}

.brands-list-item {
  margin: 17px 0px;
  font-weight: 600;
  font-size: 15px;
  color: #959595;
}

.brands-list-item:hover {
  color: #FAB610;
  cursor: pointer;
}

/* END Sessison 3 */